<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cotton-header/cotton-header.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../cotton-footer/cotton-footer.html">

<dom-module id="cotton-layout">
  <style>
    :host {
      display: block;
      height: 100%;
    }

    :host:not(.fullscreen) iron-pages {
      height: calc(100% - 99px);
    }

    :host.fullscreen iron-pages {
      height: calc(100% - 65px);
    }

    iron-pages > * {
      height: 100%;
    }

    iron-pages {
      position: relative;
      overflow: auto;
    }
  </style>

  <template>
    <cotton-header title="[[title]]" subtitle="[[subtitle]]" logo="[[logo]]" user="[[user]]" loading="[[loading]]">
      <content select="#header-content"></content>
      <content select="#user-content"></content>
    </cotton-header>
    <iron-pages selected="{{selectedTab}}">
      <template is="dom-repeat" items="[[tabs]]">
        <content select="[name='[[item]]']"></content>
      </template>
    </iron-pages>
    <cotton-footer never-hide id="footer" selected-tab="{{selectedVisibleTab}}" tabs="[[visibleTabs]]"></cotton-footer>
  </template>

  <script>
    Polymer({
      is: 'cotton-layout',

      properties: {
        title: String,
        subtitle: String,
        logo: String,
        user: { type: Object, value: function() { return null; }},
        tabs: {
          type: Array,
          observer: '_tabsModified'
        },
        visibleTabs: {
          type: Array,
          observer: '_visibleTabsModified'
        },
        selectedTab: {
          type: Number,
          observer: '_tabSelected'
        },
        selectedVisibleTab: {
            type: Number,
            observer: '_visibleTabSelected'
        },
        loading: {
          type: Boolean,
          value: function () {
            return false;
          }
        }
      },

      _tabsModified: function () {
        if (this.$.footer.hasAttribute('hidden') || this.tabs.length == 1) {
          this.classList.add('fullscreen');
        } else {
          this.classList.remove('fullscreen');
        }
        if (this.visibleTabs == null) this.visibleTabs = this.tabs;
      },

      _visibleTabsModified: function () {
        this.selectedVisibleTab = this._visibleTabIndexOf(this.selectedTab);
      },

      _selectTab : function(index) {
          if (this.tabs) {
              this.fire('select-tab', this.tabs[index]);
          }
      },

      _tabSelected : function() {
        this._selectTab(this.selectedTab);
        this.selectedVisibleTab = this._visibleTabIndexOf(this.selectedTab);
      },

      _visibleTabSelected : function() {
        this._selectTab(this._tabIndexOf(this.selectedVisibleTab));
      },

      _tabIndexOf : function(index) {
          if (this.visibleTabs == null) return 0;

          var tabLabel = this.visibleTabs[index];
          for (var i=0; i<this.tabs.length; i++)
              if (this.tabs[i] === tabLabel) return i;

          return 0;
      },

      _visibleTabIndexOf : function(index) {
          if (this.tabs == null) return 0;

          var tabLabel = this.tabs[index];
          for (var i=0; i<this.visibleTabs.length; i++)
              if (this.visibleTabs[i] === tabLabel) return i;

          return 0;
      }

    });
  </script>
</dom-module>
